body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

#pedidos {
    display: flex;
    flex-wrap: wrap; /* Permite que os pedidos quebrem para a próxima linha se necessário */
    gap: 20px; /* Espaçamento entre os pedidos */
    justify-content: center; /* Alinha os pedidos ao centro */
}

#pedido {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    width: 300px; /* Largura fixa para os pedidos */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombras para dar efeito de quadrado elevado */
    margin: 10px;
    text-align: left;
}
