<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='http://localhost:3000/css/home.css'>
    <title>Document</title>
</head>
<body>
    <h2>PizzaDmin</h2>
    <ul>
        <li><a href="clientes">clientes</a></li>
        <li><a href="pizzas"></a>pizzas</li>
        <li><a href="pedidos"></a>pedidos</li>
    </ul>
</body>
</html>